body {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
#container {
    display:inline-block;
    width:800px;
    height:800px;
}
#box {
    background-color: white;
    margin-bottom: -5px;
    min-width: 50px;
    min-height: 50px;
    display: inline-block;
  }